/* Heading Font Import */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
/* HEADING FONT FAMILY RULES - font-family: 'Train One', cursive; */

/* Paragraph Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* PARAGRAPH FONT FAMILY RULES - font-family: 'Montserrat', sans-serif; */

.main-content {
    min-height: 100vh;
}

/* FONT HELPER CLASSES -----------------------------*/

.train-font {
    font-family: 'Train One', cursive;
}

.mont-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.mont-font-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.mont-font-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* end of font helper classes */

/* COLOUR HELPER CLASSES ----------------------------*/

.main-green-bg {
    background-color: #498E61;
}

.main-green-font {
    color: #498E61;
}

.contrast-light-bg {
    background-color: #F1FCF4;
}

.contrast-font {
    color: #F1FCF4!important;
}
/* end of colour helper classes */

/* BOOTSTRAP OVERRIDES */

.navbar-light, .navbar-brand {
    color: #ebebeb!important;
}

/* end of bootstrap overrides */


/* BASE.HTML STYLINGS */

#navbar-logo {
    font-size: 2.5rem;
}

.logo-icon {
    margin-right: 10px;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #f1fcf493;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
    right: 0;
}

/* INDEX.HTML STYLINGS --------------------------------- */
.home-hero-image {
    background-image: url('/media/home-hero-optimised.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 500px;
    width: 100%;
}

.about-section {
    background-color: #8a7310c0;
    padding: 15px;
}

.light-cta-button {
    color: #000;
    background-color: #FDE181;
}

/* Crispy Forms Asterisk Override */
.asteriskField {
    display: none;
}

/* stats grids */

.reuse-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 450px;
    border-right: 5px solid #498E61;
}
    
.reuse-stat-1 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: blue;
}
.reuse-stat-2 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: red;
}
.reuse-stat-3 { 
    grid-area: 3 / 1 / 4 / 2;
    background-color: orange;
}
.reuse-stat-4 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: teal;
}
.reuse-stat-5 {
    grid-area: 3 / 3 / 4 / 4; 
    background-color: green;
}

.reduce-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 450px;
}
    
.reduce-stat-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: blue;
}

.reduce-stat-2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: red;
}

.reduce-stat-3 {
    grid-area: 2 / 3 / 4 / 4;
    background-color: orange;
}

.reduce-stat-4 {
    grid-area: 1 / 2 / 2 / 4;
    background-color: teal;
}

.reduce-stat-5 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: green;
}

/* ALL AUTH TEMPLATE STYLINGS */
.account-hero-image {
    background-image: url('/media/account-hero-optimised.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
    width: 100%;
}

.account-form-bg {
    background-color: #8a7310c0;
    padding: 15px;
}

.account-form-field {
    border: 1px solid darkslategray;
    width: 90%;
    padding: 5px;
}

