/* Heading Font Import */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
/* HEADING FONT FAMILY RULES - font-family: 'Train One', cursive; */

/* Paragraph Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* PARAGRAPH FONT FAMILY RULES - font-family: 'Montserrat', sans-serif; */

.main-content {
    min-height: 100vh;
}

/* FONT HELPER CLASSES -----------------------------*/

.train-font {
    font-family: 'Train One', cursive;
}

.mont-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.mont-font-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.mont-font-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* end of font helper classes */

/* COLOUR HELPER CLASSES ----------------------------*/

.main-green-bg {
    background-color: #498E61;
}

.main-green-font {
    color: #498E61;
}

.contrast-light-bg {
    background-color: #F1FCF4;
}

.contrast-font {
    color: #F1FCF4!important;
}
/* end of colour helper classes */

/* BOOTSTRAP OVERRIDES */

.navbar-light, .navbar-brand {
    color: #ebebeb!important;
}

/* end of bootstrap overrides */


/* BASE.HTML STYLINGS */

#navbar-logo {
    font-size: 2.5rem;
}

.logo-icon {
    margin-right: 10px;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #d7d7d7;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
    right: 0;
}

/* INDEX.HTML STYLINGS --------------------------------- */


.home-hero-image {
    background-image: url('/media/home-hero-optimised.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 75vh;
    width: 100%;
}

.about-section {
    background-color: #8a7310c0;
    padding: 15px;
}

.light-cta-button {
    color: #000;
    background-color: #FDE181;
}

/* Crispy Forms Asterisk Override */
.asteriskField {
    display: none;
}

/* stats grids */

/* reuse grid */
.reuse-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 450px;
}

/* rounds reuse grid block corners */
.reuse-parent .reuse-stat-1 {
    border-top-left-radius: 5px;
}

.reuse-parent .reuse-stat-3 {
    border-bottom-left-radius: 5px;
}

.reuse-parent .reuse-stat-5 {
    border-top-right-radius: 5px;
}

.reuse-parent .reuse-stat-6 {
    border-bottom-right-radius: 5px;
}

/* applies border, font weight and text alignment to all reuse grid cells */
.reuse-parent > div {
    border: 1px solid #376c4a;
    text-align: center;
    font-weight: 600;
}

/* grid cells */
.reuse-stat-1 {
    grid-area: 1 / 1 / 4 / 3;
    background-color: #498E61;
}
.reuse-stat-2 {
    grid-area: 1 / 3 / 4 / 5;
    background-color: #c4fed4;
}
.reuse-stat-3 { 
    grid-area: 4 / 1 / 6 / 3;
    background-color: #c4fed4;
}
.reuse-stat-4 {
    grid-area: 4 / 3 / 6 / 5;
    background-color: #498E61;
}
.reuse-stat-5 {
    grid-area: 1 / 5 / 4 / 6;
    background-color: #c4fed4;
}
.reuse-stat-6 {
    grid-area: 4 / 5 / 6 / 6;
    background-color: #498E61;
}

/* reduce grid */
.reduce-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 450px;
}

.reduce-parent .reduce-stat-3 {
    border-top-left-radius: 5px;
}
.reduce-parent .reduce-stat-5 {
    border-bottom-left-radius: 5px;
}
.reduce-parent .reduce-stat-6 {
    border-top-right-radius: 5px;
}
.reduce-parent .reduce-stat-1 {
    border-bottom-right-radius: 5px;
}

/* applies border, font weight and text alignment to all reduce grid cells */
.reduce-parent > div {
    border: 1px solid #376c4a;
    text-align: center;
    font-weight: 600;
}
    
.reduce-stat-1 {
    grid-area: 3 / 4 / 6 / 6;
    background-color: #498E61;
}
.reduce-stat-2 {
    grid-area: 3 / 2 / 6 / 4;
    background-color: #498E61;
}

.reduce-stat-3 { 
    grid-area: 1 / 1 / 3 / 3;
    background-color: #c4fed4;
}

.reduce-stat-4 {
    grid-area: 1 / 3 / 3 / 5;
    background-color: #c4fed4;
}

.reduce-stat-5 {
    grid-area: 3 / 1 / 6 / 2;
    background-color: #c4fed4;
}

.reduce-stat-6 {
    grid-area: 1 / 5 / 3 / 6;
    background-color: #c4fed4;
}

.recycle-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 450px;
}

.recycle-parent .recycle-stat-2 {
    border-top-left-radius: 5px;
}

.recycle-parent .recycle-stat-1 {
    border-bottom-left-radius: 5px;
}

.recycle-parent .recycle-stat-3 {
    border-top-right-radius: 5px;
}

.recycle-parent .recycle-stat-6 {
    border-bottom-right-radius: 5px;
}

/* applies border, font weight and text alignment to all reuse grid cells */
.recycle-parent > div {
    border: 1px solid #376c4a;
    text-align: center;
    font-weight: 600;
}

.recycle-stat-1 {
    grid-area: 4 / 1 / 6 / 4;
    background-color: #c4fed4;
}
.recycle-stat-2 {
    grid-area: 1 / 1 / 4 / 3;
    background-color: #498E61;
}

.recycle-stat-3 { 
    grid-area: 1 / 4 / 4 / 6;
    background-color: #498E61;
}

.recycle-stat-4 {
    grid-area: 1 / 3 / 4 / 4;
    background-color: #c4fed4;
}

.recycle-stat-5 {
    grid-area: 4 / 4 / 6 / 5;
    background-color: #c4fed4;
}

.recycle-stat-6 {
    grid-area: 4 / 5 / 6 / 6;
    background-color: #498E61;
}

/* ALL AUTH TEMPLATE STYLINGS */
.account-hero-image {
    background-image: url('/media/account-hero-optimised.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
    width: 100%;
}

.account-form-bg {
    background-color: #8a7310c0;
    padding: 15px;
}

.account-form-field {
    border: 1px solid darkslategray;
    width: 90%;
    padding: 5px;
}

/* --------------CONTRIBUTIONS PAGE STYLING -------------------- */ 
#myTab .nav-item {
    min-width: 33%;
}

#myTab .nav-item button{
    min-width:100%;
}

#reuse-tab {
    background-color: #498e61ad;
}

#reuse-tab:focus,
#reuse-tab.active {
    background-color: #498e61;
}

#reduce-tab {
    background-color: #6e8e49ad;
}

#reduce-tab:focus,
#reduce-tab.active {
    background-color: #6e8e49;
}

#recycle-tab {
    background-color: #fde081ad;
}

#recycle-tab:focus,
#recycle-tab.active {
    background-color: #fde081;
}

#reuse-tab:focus, #reduce-tab:focus, #recycle-tab:focus, 
#reuse-tab.active, #reduce-tab.active, #recycle-tab.active {
    color:white;
    margin: 0 0.125rem 0 0.125rem;
}

.nav-link {
    color:#000;
}
.nav-link:hover, .nav-link:active {
    color: #ebebeb;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  #reuse-list-item.hvr-sweep-to-right:before {
    background: #498e61;
  }

  #reduce-list-item.hvr-sweep-to-right:before {
    background: #6e8e49;
  }
  #recycle-list-item.hvr-sweep-to-right:before {
    background: #fde081;
  }
  
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }